<div class="bg-gradient-primary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-not-found"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <div class="error mx-auto" data-text="404">404</div>
                                        <p class="lead text-gray-800 mb-5" style="text-align: center;">صفحه مورد نظر پیدا نشد</p>
                                        <p class="text-gray-500 mb-0">
                                            به نظر میرسد آدرس وارد شده اشتباه است،آدرس را بررسی کنید.
                                        </p>
                                        <a href="">بازگشت به صفحه اصلی &larr;</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>