<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" [routerLink]="['/panel']">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Dail <sub>0.2</sub></div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/panel']">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>داشبورد</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        حساب کاربری
    </div>

    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/panel/profile']">
            <i class="fas fa-fw fa-cog"></i>
            <span>پروفایل</span>
        </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        دسترسی سریع
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
            aria-controls="collapsePages">
            <i class="fas fa-fw fa-table"></i>
            <span>برنامه زمانی</span>
        </a>
        <div id="collapsePages" class="collapse show" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">برنامه های من</h6>
                <a class="collapse-item" [routerLink]="['/panel/time-schedules']">لیست برنامه ها</a>
                <a class="collapse-item" [routerLink]="['/panel/time-schedules/add']">افزودن برنامه جدید</a>
                <h6 class="collapse-header">زمان های مورد علاقه من</h6>
                <a class="collapse-item" [routerLink]="['/panel/activity-times']">لیست زمان ها</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Charts -->
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['/panel/activities']">
            <i class="fas fa-fw fa-tasks"></i>
            <span>کار های من</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle" type="button"></button>
    </div>

</ul>