<div>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h3 class="h3 mb-0 text-gray-800">{{model.title}}</h3>
        <a [routerLink]="['/panel/time-schedules']" class="d-sm-inline-block btn btn-md col-1 btn-primary shadow-sm">
            بازگشت</a>
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="card activity-card-holder shadow mb-4">
                <button class="d-sm-inline-block btn btn-sm btn-success shadow-sm col-2"
                    [routerLink]="['/panel/activities/add']" [queryParams]="{timescheduleid: id}">
                    <i class="fas fa-plus fa-md text-white-50"></i> کار جدید</button>
                <div class="card-body" [dndDropzone]="['activity']" dndEffectAllowed="move"
                    (dndDrop)="removeTime($event)">
                    <div class="row">
                        <div class="card col-2 mr-2 mb-2" *ngFor="let uact of model.unAssignedActivities"
                            [dndEffectAllowed]="'move'" [dndType]="'activity'"
                            (dndMoved)="onActivityMoved(uact, model.unAssignedActivities!, 'move')"
                            [dndDraggable]="uact" [ngStyle]="{'border-bottom':'0.25rem solid'+ uact.color}">
                            <div class="activity-card-body">
                                <a [routerLink]="['/panel/activities/edit/'+uact.id]"
                                [queryParams]="{timescheduleid: id}">
                                {{uact.title}}
                            </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card activity-card-holder shadow mb-4" style="overflow: hidden;"
                [routerLink]="['/panel/activity-times/add']" [queryParams]="{timescheduleid: id}">
                <button class="d-sm-inline-block btn btn-sm btn-info shadow-sm col-12"><i
                        class="fas fa-plus fa-sm text-white-50"></i> افزودن زمان مورد علاقه</button>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="card shadow mb-4 trash-box" (dndDrop)="removeItem($event)" dndDropzone dndEffectAllowed="move">
                <div class="card-body text-center">
                    <i class="fas fa-trash fa-2x text-danger mt-3"></i>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a class="d-sm-inline-block btn btn-md  btn-light shadow-sm mb-2" (click)="horizontalView = !horizontalView">
            نمایش : {{horizontalView ? 'سطری' : 'جدول'}} 
        </a>

        <div class="row">

            <div class="card" *ngFor="let day of days()" [dndDropzone]="['activityTime']"
                (dndDrop)="moveActivityTime($event,day)" [ngClass]="(horizontalView)?'col-12':'day-width'">
                <div class="card-header py-3">
                    <h5 class="m-0 font-weight-bold text-primary mb-2">{{day | weekdaytostring}}</h5>
                </div>
                <div>
                    <div class="card-body" style="padding: 0px;">
                        <ng-container *ngFor="let at of sortBy('startTime',model.activityTimes!, day) ">
                            <div [dndDraggable]="at" *ngIf="at.day == day" [dndEffectAllowed]="'move'"
                                [dndType]="'activityTime'" style="background-color: #e7eaf7;">
                                <div style="min-height: 20px;padding: 12px;">
                                    <a [routerLink]="['/panel/activity-times/edit/'+at.id]"
                                        [queryParams]="{timescheduleid: id}">
                                        <small class="m-0 p-0 font-weight-bold text-primary mb-2">
                                            {{at.title}} - از {{at.startTime}} تا {{at.endTime}}
                                        </small>
                                    </a>
                                </div>
                                <div style="min-height: 50px;" dndEffectAllowed="move" [dndDropzone]="['activity']"
                                    (dndDrop)="setTime($event,at)">

                                    <div class="" *ngFor="let atchild of at.activities" [dndDraggable]="atchild"
                                        [dndEffectAllowed]="'move'" [dndType]="'activity'"
                                        (dndMoved)="onActivityMoved(atchild, at.activities!, 'move')"
                                        [ngStyle]="{'border-bottom':'0.25rem solid'+ atchild.color}">
                                        <div class="activity-card-body" style="overflow-y: auto;">
                                            <a [routerLink]="['/panel/activities/edit/'+atchild.id]"
                                                [queryParams]="{timescheduleid: id}">
                                                <b>{{atchild.title}}</b><br>
                                            </a>
                                            <small>
                                                {{atchild.description}}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>