<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">داشبورد</h1>
</div>

<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                            تعداد برنامه های زمانی من
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{model.totalTimeSchedules}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            کار های من
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{model.totalActivities}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-tasks fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">کار های اساین شده
                        </div>
                        <div class="row no-gutters align-items-center" *ngIf="model.totalActivities > 0">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">{{assignedActsPercentage | number : '1.0-0'}}%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm ml-2">
                                    <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width':assignedActsPercentage + '%'}"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                            کار های بدون زمان بندی 
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{model.unAssignedWorksCount}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-chalkboard fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6 mb-4">

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">آخرین کار های ثبت شده</h6>
            </div>
            <div class="card-body" style="min-height: 300px">
                <h5 style="text-align: center;" *ngIf="!model.recentWorks || model.recentWorks?.length == 0">
                    کاری هنوز ثبت نکرده اید
                </h5>

                <h6 class="font-weight-bold" *ngFor="let activity of model.recentWorks">{{activity}}</h6>
            </div>
        </div>
    </div>

    <div class="col-lg-6 mb-4">
        <div class="row">
            <div class="col-lg-6 mb-4">
                <a class="card bg-primary text-white shadow" [routerLink]="['/panel/time-schedules']">
                    <div class="card-body">
                        برنامه های من
                        <div class="text-white-50 small">&nbsp;</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mb-4">
                <a class="card bg-success text-white shadow" [routerLink]="['/panel/activities']">
                    <div class="card-body">
                        کار های من
                        <div class="text-white-50 small">&nbsp;</div>
                    </div>
                </a>
            </div>
            <div class="col-lg-6 mb-4">
                <a class="card bg-info text-white shadow" [routerLink]="['/panel/activity-times']">
                    <div class="card-body">
                        زمان های مورد علاقه من
                        <div class="text-white-50 small">&nbsp;</div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>