<div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">برنامه های زمانی مورد علاقه من</h6>
        </div>
        <div class="card-body">
            <div class="mb-4">
                <button [disabled]="selected && !selected[0]"
                    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm col-12 col-md-2 col-lg-2"><i
                        class="fas fa-table fa-sm text-white-50"></i> ویرایش برنامه زمانی</button>
            </div>
            <div class="table-responsive">
                <ngx-datatable class="material" [rows]="rows" [columns]="columns" [columnMode]="ColumnMode.force"
                    [headerHeight]="40" [footerHeight]="50" [rowHeight]="40" [limit]="8" [selected]="selected"
                    [selectionType]="SelectionType.single"> </ngx-datatable>
            </div>
        </div>
    </div>
</div>