@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";
@import "styles/sb-admin-2.scss";

@font-face {
    font-family: Vazir;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.woff2') format('woff2'),
         url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.ttf') format('truetype');
    font-weight: normal;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.woff2') format('woff2'),
         url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Bold.ttf') format('truetype');
    font-weight: bold;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.woff2') format('woff2'),
         url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Light.ttf') format('truetype');
    font-weight: 300;
  }
  
  @font-face {
    font-family: Vazir;
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.eot');
    src: url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.woff2') format('woff2'),
         url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.woff') format('woff'),
         url('https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir-Medium.ttf') format('truetype');
    font-weight: 500;
  }
 
*{
    text-align: right;
    font-family: "Vazir" ;
    direction: rtl;
}

.bg-gradient-primary{
  height:100vh;
}

.invalid-input {
  color:red;
  padding-left:6px;
  font-size:12px;
}

.sidebar{
 min-height: 100%;
}

.navbar-nav {
    padding-right: 0;
}

.sidebar.toggled .nav-item .nav-link span {
    text-align: center;
}

//Dail styles
.bg-not-found {
  background: url(./assets/images/not_found_undraw.png);
  background-position: center;
  background-size: cover;
}

.bg-register-image {
  background: url(./assets/images/undraw_conference.png);
  background-position: center;
  background-size: cover;
}


.bg-login-image {
  background: url(./assets/images/undraw_Events.png);
  background-position: center;
  background-size: cover;
}

.fab-btn {
  position: fixed;
  width: 4.5rem !important;
  height: 4.5rem !important;
  bottom: 40px;
  left: 40px;
  background-color: #1cc88a;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  font-size: 6rem;
}

  .fab-btn .fas {
      font-size:2rem !important;
  }

  //ngx-table
.ngx-datatable{
  border: 1.5px solid #e3e6f0;
}

.datatable-body-row{
  border: 1px solid #e3e6f0;
}

  .datatable-header-cell-label{
    font-weight: bold;
    font-size: 16px;
  }